* {
   margin: 0px;
   padding: 0px;
}

html {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #94BCBC;
}

a {
    padding-top: 60px;
}

table {
    border: none;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 5px 10px;
}

table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

table th:first-child {
    border-left: none;
}

table th:last-child {
    border-right: none;
}

table tr:first-child {
    border-bottom: 1px solid #000;
}

.teamname {
    width: 250px;
}

.matchstats {
    width: 50px;
}

.points {
    width: 60px;
}

#standingstable {
    margin-top: 4vh;
    margin-left: 9.5%;
    text-align: center;
    margin-bottom: 4vh;
}

#standingstable tr:nth-child(even) {
  background-color: #eee;
}

#home {
    padding-top: 120px;
}

.header {
    width: 97.8%;
    height: 30px;
    margin: 0 auto;
    background-color: #349FA4;
    padding: 0 20px 20px 20px;
    border: 1px solid #349FA4;
    box-shadow: 0 1px 5px #363837;
}

#navbar {
    overflow: hidden;
    position: fixed;
}

.headertext {
    text-align: left;
    width: 50%;
    margin: 3px 0 0 25%;
    padding: 10px 0 0 5px;
}

.simweek {
    padding-right: 25%;
}

.seasonstatus {
    width: 250px;
    text-align: right;
    padding: 3px 25px 0 0;
}

.title {
    display: inline-block;
    size: 18px;
    color: black;
    padding: 0 20px 5px 0;
    cursor: pointer;
}

.title:hover {
    color: white;
}

.box {
    background-color: #fffff2;
    border: 1px solid #fffff2;
    width: 50%;
    height: 80vh;
    margin-left: 25%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #363837;
}

.fixturesline {
    height: 70vh;
    background-color: #393134;
    margin-top: 5vh;
    width: 1px;
}

.fixturesheaders {
    margin-top: 1.5vh;
    text-align: center;
    padding: 0 125px;
    padding-bottom: 5vh;
}

.scores {
    padding-top: 10px;
}

.button {
  text-align: center;
  display: inline-block;
  border: 1px #039884;
  background-color: #039884;
  margin: 5px 5px 0 0;
  padding: 5px 30px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #363837;
  cursor: pointer;
}
