* {
   margin: 0px;
   padding: 0px;
}

html {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #94BCBC;
}

a {
    padding-top: 60px;
}

.header {
    width: 97.8%;
    height: 30px;
    margin: 0 auto;
    background-color: #349FA4;
    padding: 0 20px 20px 20px;
    border: 1px solid #349FA4;
    box-shadow: 0 1px 5px #363837;
}

#navbar {
    overflow: hidden;
    position: fixed;
}

.headertext {
    text-align: left;
    width: 50%;
    margin: 3px 0 0 25%;
    padding: 10px 0 0 5px;
}

.simweek {
    padding-right: 25%;
}

.seasonstatus {
    width: 250px;
    text-align: right;
    padding: 3px 25px 0 0;
}

.title {
    display: inline-block;
    size: 18px;
    color: black;
    padding: 0 20px 5px 0;
    cursor: pointer;
}

.title:hover {
    color: white;
}

.box {
    background-color: #fffff2;
    border: 1px solid #fffff2;
    width: 50%;
    height: 90vh;
    margin-left: 25%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #363837;
}

.button {
  text-align: center;
  display: inline-block;
  border: 1px #039884;
  background-color: #039884;
  margin: 5px 5px 0 0;
  padding: 5px 30px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #363837;
  cursor: pointer;
}
